$original: #EEEEEE;

$green: #A6E22A;
$blue: #84D7EC;
$yellow: #E6DB74;
$magenta:  #F92672;
$grey-light: #E6E6E6;
$grey-medium: #6D6E6A;
$grey-dark: #282923;
$grey: #595959;
$violet: #AE81FF;
$white: #fff;

$background-menubar: $grey-medium;
$background-selected: $grey;
$background-color: $grey-dark;
