@import "~normalize.css/normalize.css";

body {
	background: black;
	color: white;
	overflow-y: hidden;
}

.mainview {
	font-family: 'Roboto Mono', monospace;

	display: flex;
	flex-direction: column;
	height: 100vh;
}

.menubar {
	background: #444;
}

.debugger {
	display: flex;
	flex-direction: row;

	background: #400;
	flex-grow: 1;
}

.sidebar {
	display: flex;
	flex-direction: column;

	background: #444;
}

.document {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
