@import "~normalize.css/normalize.css";
@import "./settings.scss";

body {
	background: black;
	color: white;
	overflow-y: hidden;
}

.mainview {
	font-family: 'Roboto Mono', monospace;

	display: flex;
	flex-direction: column;
	height: 100vh;
}

.debugger {
	display: flex;
	flex-direction: row;

	background: $background-color;
	flex-grow: 1;
}

.sidebar {
	display: flex;
	flex-direction: column;

	background: #444;
}

.document {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.viewer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-x: hidden;
}
