$sidebar-width: calc((4ch + 4px) + (2ch + 3px) * 8 + 2px);

body {
	background: black;
	color: white;

	font-family: 'Roboto Mono', monospace;
}

.debugger {
	display: inline-block;
	text-align: left;

	height:100vh;

	left: 50%;
	transform: translateX(-50%);

	position: relative;
}

.sidebar {
	display: inline-block;
	box-sizing: border-box;
	width: $sidebar-width;	/* Memory layour size */
	margin-right: 80ch;
}

.content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: $sidebar-width;
}
