body {
	background: black;
	color: white;

	font-family: 'Roboto Mono', monospace;
}

.debugger {
	display: inline-block;
	text-align: left;

	height:100vh;

	left: 50%;
	transform: translateX(-50%);

	position: relative;
}

.sidebar {
	display: inline-block;
	width: calc((4ch + 4px) + (2ch + 3px) * 8 + 2px);	/* Memory layour size */
}

.content {
	display: inline-block;
}
