@import "../settings.less";

.memory {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.dataRow {
	display: block;
	white-space: nowrap;
}

.dataRow :first-child {
	padding-left: 5px;
}

.dataRow :last-child {
	padding-right: 5px;
}

.address {
	width: calc(6ch + 4px);
	text-align: left;
	display: inline-block;
	color: @green;
}

.byteCell {
	width: calc(2ch + 3px);
	text-align: center;
	display: inline-block;
	color: @violet;
}

.changed {
	color: @magenta;
}
