.address {
	width: calc(4ch + 4px);
	text-align: left;
	display: inline-block;
	color: #cf0;
}

.byte-cell {
	width: calc(2ch + 3px);
	text-align: center;
	display: inline-block;
}

.byte-cell:nth-child(odd) {
	color: cyan;
}
