.disasm {
	min-height: 8ch;

}

tr.active {
	background: #444;
}

.disasm td {
	white-space: nowrap;
}

.address {
	width: 66px;
	text-align: left;
	display: inline-block;
	color: #cf0;
}

.byte-cell {
	width: 22px;
	text-align: center;
	display: inline-block;
	color: #FCF;
}

.byte-cell:nth-child(odd) {
	color: cyan;
}
