@import "../settings.scss";

$menu-bar-border: 2px solid $grey-dark;

.menubar {
	background: $background-menubar;
	position: relative;
	user-select: none;
	padding: 0 1ch;
	border-bottom: $menu-bar-border;
}

.seperator {
	display: block;
	margin: 0 0.5ch;
	border: 1px solid $grey-dark;
}

.menuitem[ischecked=true]:before {
	content: '\2713';
	color: $green;
	position: absolute;
	width: 2ch;
	text-align: center;
	left: 0;
}

.menuitem[hotkey]:after {
	content: attr(hotkey);
	position: absolute;
	text-align: center;
	right: 0;
	padding-right: 1ch;
}

.menuitem {
	color: $yellow;
	display: block;
	padding: 4px 1ch;
	cursor: pointer;
	position: relative;
	padding-left: 2ch;
	padding-right: 10ch;
}

.menuitem:hover, .dropdown:hover {
	background: $background-selected;
}

.dropdown {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.dropdown:not(:hover) .dropchildren {
	display: none;
}

.dropchildren {
	background: $background-menubar;
	border: $menu-bar-border;

	position: absolute;
	left: 100%;
	top: 0;
}

.menubar > .dropdown > .dropchildren {
	top: 100%;
	left: 0;
}
